<h1 mat-dialog-title>User</h1>
<div mat-dialog-content class="container-fluid">
    <form [formGroup]="roleForm">
        <div class="row px-2">
            <mat-form-field appearance="outline" class="col-xl-12">
                <mat-label>Role</mat-label>
                <input matInput type="text" formControlName="RoleName" id="Role" [(ngModel)]="role.RoleName" autocomplete="off">
            </mat-form-field>
        </div>
    </form>

</div>
<div mat-dialog-actions class="py-3">
    <button mat-button cdkFocusInitial (click)="OnClickSave()">Save</button>
    <button mat-button (click)="onNoClick()">No</button>
</div>