<div class="container-fluid pt-2">
    <div class="card">
        <div class="card-body">
            <mat-accordion *ngFor="let item of activity;index as i;">
                <mat-expansion-panel (opened)="panelOpenState[i] = true" (closed)="panelOpenState[i] = false"
                    class="mb-1">
                    <mat-expansion-panel-header [ngClass]="[(panelOpenState[i]==true)?'border-b':'']">
                        <mat-panel-title>
                            {{item.ActivityOn}} {{item.ActivityFor}} is {{item.ActivityType.toLocaleLowerCase()}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <div>{{item.ActivityType}}</div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngIf="panelOpenState[i]">
                        <p>ActivityBy: {{item.ActivityByName}}</p>
                        <p>Duration : {{item.ActivityTime|date:'medium'}}</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator class="mat-elevation-z2" [pageSizeOptions]="[10,20,30]" [length]="pageModel.Length"
                [pageSize]="pageModel.PageSize" (page)="onPageChange($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>